In [7]:
import sqlite3

In [8]:
connection = sqlite3.connect("Library.db")
sql = connection.cursor()

# We will be creating table for book details , student details, transaction details
sql.execute("""DROP TABLE book_details """)
sql.execute("""DROP TABLE student_details """)
sql.execute("""DROP TABLE transaction_details """)

sql.execute("""CREATE TABLE book_details(
            book_name VARCHAR(30),
            author_name VARCHAR(30),
            book_price VARCHAR(30)
)  """)

sql.execute("""CREATE TABLE student_details(
            student_name VARCHAR(30),
            student_reg_no VARCHAR(10)
) """)

sql.execute("""CREATE TABLE transaction_details(
            transaction_ID VARCHAR(10),
            transaction_date VARCHAR(10),
            transaction_amount INT
) """)

connection.commit()

In [9]:
# Insertion Functions
def insert_book_details():
    book_name = input("Enter the book name ")
    author_name = input("Enter the name of the author " )
    book_price = input("Enter the Price of the book ")

    sql.execute("INSERT INTO book_details VALUES (?, ?, ?)", (book_name, author_name, book_price))
    connection.commit()
    print("Insertion to book Completed")

def insert_student_details():
    student_name = input("Enter the name of the student: ")
    student_reg_no = input("Enter the Reg no of the student: ")

    sql.execute("INSERT INTO student_details VALUES (?, ?)", (student_name, student_reg_no))
    connection.commit()
    print("Insertion to student completed")

def insert_transaction_details():
    transaction_ID = input("Enter the transaction ID ")
    transaction_date = input("Enter the Date of transaction")
    transaction_amount = input("Enter the amount of transaction")

    sql.execute("INSERT INTO transaction_details(?, ?, ?)", (transaction_ID, transaction_date, transaction_amount))
    connection.commit()
    print("Insertion to transaction details completed ")

In [ ]:
def display_book_details(input_book_name):
    if input_book_name.upper() == "ALL":
        sql.execute("SELECT * FROM book_details")
    else:
        sql.execute("SELECT * FROM book_details WHERE book_name = ?", (input_book_name,))
    
    result = sql.fetchall()
    print(result)

def display_student_details(input_reg_no):
    if input_reg_no.upper() == "ALL":
        sql.execute("SELECT * FROM student_details")
    else:
        sql.execute("SELECT * FROM student_details WHERE student_reg_no = ?", (input_reg_no,))
    
    result = sql.fetchall()
    print(result)

def display_transaction_details(input_transaction_ID):
    if input_transaction_ID.upper() == ALL:
        sql.execute("SELECT * FROM transaction_details")
    else:
        sql.execute("SELECT * FROM transaction_details WHERE tansaction_ID = ?", (input_transaction_ID))
    
    result = sql.fetchall()
    print(result)

In [10]:
print("""What do you want to perform
      Press the Number for that operation
      1. Insert Details about Student Book or Transaction
      2. To fetch DEtails about Student Book or Transaction
      3. To update Transaction Details\n""")

user_input = int(input("Enter your choice :- "))  

if(user_input == 1)
if (user_input == 1):
    insert_book_details()
elif (user_input == 2):
    insert_student_details()
elif (user_input == 3):
    insert_transaction_details()

What do you want to perform
      Press the NUmber for that operation
      1. Add Book details
      2. Add Student details
      3. Add Transaction details

Insertion to book Completed